.pregunta {
    font-size: 30px;
    margin-bottom: 10px;
}

.respuesta {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

    .respuesta label {
        display: block;
        margin-bottom: 10px;
    }

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

    button:hover {
        background-color: #38a;
    }





.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    -ms-opacity: 0;
    opacity: 0;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.active-slide {
    -ms-opacity: 1;
    opacity: 1;
    z-index: 2;
}

.examen-div {
    position: relative;
    height: 200px;
    margin-top: 40px;
}
