
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="dashboard-counts section-padding">
	<div class="container-fluid">
		<div class="row">
			<!-- Count item widget-->
			<div class="col-xl-4 col-md-4 col-6">
				<div class="wrapper count-title d-flex">
					<div class="icon"><i class="fas fa-users"></i></div>
					<div class="name">
						<strong class="text-uppercase">Total Estudiantes</strong><span></span>
						<div class="count-number">300</div>
					</div>
				</div>
			</div>
			<!-- Count item widget-->
			<div class="col-xl-4 col-md-4 col-6">
				<div class="wrapper count-title d-flex">
					<div class="icon"><i class="fas fa-user-secret"></i></div>
					<div class="name">
						<strong class="text-uppercase">Total Profesores</strong><span></span>
						<div class="count-number">400</div>
					</div>
				</div>
			</div>
			<!-- Count item widget-->
			<div class="col-xl-4 col-md-4 col-6">
				<div class="wrapper count-title d-flex">
					<div class="icon"><i class="fas fa-user-circle"></i></div>
					<div class="name">
						<strong class="text-uppercase">Total Visitantes</strong><span></span>
						<div class="count-number">342</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>